<?xml version="1.0" encoding="UTF-8" ?>

<!-- Spring mvc DispatcherServlet相关配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- 配置MVC异步参数，启用异步支持需在servlet容器层配置web.xml -->
    <mvc:annotation-driven/>

<!--启用自动注解扫描和装配-->
    <context:component-scan base-package="me.webapp"></context:component-scan>

<!--启用aspectJ自动代理, 或在配置类的类级别上使用@EnableAspectJAutoProxy注解，proxy-target-class默认为false，表示使用JDK代理，true表示使用CGLib代理-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

<!--multipart file处理器，servlet3.0容器-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
    </bean>
<!--multipart file处理器替代，非servlet3.0容器-->
    <bean id="multipartResolver_alternative"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxInMemorySize" value="10000"/>
        <property name="maxUploadSizePerFile" value="10000"/>
    </bean>

</beans>